[Unit]
Description=poo-button
After=syslog.target network-online.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/poo-button/rpi
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
